@import "tailwindcss";

@layer base {
    html {
        scroll-behavior: smooth;
    }
}

@layer utilities {
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }

    .no-scrollbar {
        scrollbar-width: none;
    }
}